parameters:
	level: 5
	paths:
		- src
		- tests
	scanDirectories:
		- ../../includes
		- ../../tests/phpunit
		- ../../vendor
	bootstrapFiles:
		- ../../includes/AutoLoader.php
	treatPhpDocTypesAsCertain: false
